*pycache*
.vscode
cfg.py
temp.py
.env


alembic/
node_modules/

tmp/*
tmp_test/*
!tmp/.gitkeep
!tmp_test/.gitkeep
test/*

static/audio/*
static/img/*
static/_app/
!static/img/.gitkeep
!static/audio/.gitkeep
static_old/*
*.pyc
*.zip
.DS_Store
